h1 {
  background-color: darkblue;
  color: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  text-size-adjust: 500px;
}

h4 {
  font-family: "Courier New", Courier, monospace;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  background-color: darkblue;
  color: white;
}
hr {
  visibility: hidden;
}

ul {
  text-align: left;
}
img {
  border-radius: 50%;
}
