h1 {
  background-color: darkblue;
  color: white;
  text-align: center;
}

h4 {
  font-family: cursive;
}

a {
  font-family: cursive;
}

h2 {
  font-family: cursive;
  background-color: darkblue;
  color: white;
}
hr {
  visibility: hidden;
}

ul {
  text-align: left;
}
img {
  border-radius: 50%;
}
