h1 {
  background-color: darkblue;
  color: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  text-size-adjust: 500px;
}

h4 {
  font-family: "Cambria, Cochin, Georgia, Times, " Times New Roman ", serif";
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: darkblue;
  color: white;
}
hr {
  visibility: hidden;
}

ul {
  text-align: left;
}
img {
  border-radius: 50%;
}
.skills {
  background-color: darkblue !important;
  color: white !important;
  text-align: center !important;
  font-size: 15px !important;
}
